<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jonathan Guerra">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="alunos/css/style.css">
    <title>School Board</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/531a9ff686.js" crossorigin="anonymous"></script>
    <link rel="icon" href="img/logoSBSigla.png">
</head>
<body>
<header th:fragment="cabecalho">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" th:href="@{/}">
            <img class="logo-sb" src="img/logoSB.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMobile" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navMobile" class="navbar-collapse collapse justify-content-end">
            <a class="nav-item nav-link" th:href="@{/}"><i class="fa-solid fa-home"></i>  Home</a>
            <a class="nav-item nav-link" th:href="@{/alunos}"><i class="fa-solid fa-user-graduate"></i>  Cadastrar Aluno</a>
            <a class="nav-item nav-link"><i class="fa-solid fa-magnifying-glass"></i>  Pesquisar Aluno</a>
            <a id="sair-btn" class="nav-item nav-link btn btn-danger">Sair  <i class="fa-regular fa-circle-xmark"></i></a>
        </div>
    </nav>
</header>

<footer th:fragment="rodape">
    <div class="rodape">
        <span>Todos os Direitos Reservados - 2023 &copy; Jonathan Guerra</span>
    </div>
</footer>

<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>