<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jonathan Guerra">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>School Board</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/531a9ff686.js" crossorigin="anonymous"></script>
    <link rel="icon" href="img/logoSBSigla.png">
</head>
<body>
    <div th:replace="fragmentos/fragmentos :: cabecalho"></div>
    <section class="main-section">
        <div class="sombra"></div>
        <div class="main-container center" >
            <h1 style="color: aliceblue">School Board</h1>
            <h4 style="color: aliceblue ">Sistema de Gestão de Alunos</h4>


        <div class="botoes">
            <div class="wm">
                <h5 class="btn btn-cadastrar cadastrar">CADASTRAR ALUNO
                </h5>
            </div>
            <div class="wm">
                <h5 class="btn btn-pesquisar justify-content-center pesquisar">PESQUISAR ALUNO</h5>
            </div>

            <div class="clear"></div>
        </div>
        </div>
    </section>
    <div th:replace="fragmentos/fragmentos :: rodape"></div>

    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>